<main class="main">

<!-- Student Info -->
<h1>Week 2 - Favourite Movies App</h1>
<p>Name: Daniel McNamee</p>
<p>StudentID: S00273249</p>

<!-- Movies List -->
<h1>Movie List</h1>

<ul>
  @for (movie of movies(); let i = $index; track i) {
    <li [class.even]="i % 2 === 0" [class.odd]="i % 2 === 1">
      <button (click)="addToFavourites(movie)">Favourite</button>
      {{ movie }}
    </li>
  }
</ul>

<!-- Favourites List -->
<h1>My Favourites</h1>

<!-- Favourites Count -->
<p>
  @if (favourites().length === 0) {
    none selected
  } @else {
    {{ favourites().length }} movies chosen
  }
</p>

<ul>
  @for (fav of favourites(); let i = $index; track i) {
    <li [class.even]="i % 2 === 0" [class.odd]="i % 2 === 1">
      <button (click)="deleteFavourite(i)">Delete</button>
      {{ fav }}
    </li>
  }
</ul>

</main>

<router-outlet />
