<main class="main">

<p>Name: Daniel McNamee</p>
<p>StudentID: S00273249</p>

<h1>Movies</h1>

<ul>
  @for (movie of movies; track movie) {
    <li>
      {{ movie }}
      <button (click)="addToFavourites(movie)">Add to favourites</button>
    </li>
  }
</ul>

<h1>Favourites</h1>

<ul>
  @for (fav of favourites; let i = $index; track i) {
    <li>
      {{ fav }}
      <button (click)="deleteFavourite(i)">Delete</button>
    </li>
  }
</ul>

<p>
  @if (favourites.length === 0) {
    none selected
  } @else {
    {{ favourites.length }} movies chosen
  }
</p>



</main>

<router-outlet />
